<footer class="footer">
  <span>
    Feito com

    <mat-icon aria-hidden="false" aria-label="coração" color="red">
      favorite
    </mat-icon>

    por

    <a href="https://www.linkedin.com/in/joabson-silva/" target="_blank">
      <img
        class="linkedin"
        src="./assets/logo-linkedin.svg"
        aria-hidden="true"
      />
      Joabson Silva
    </a>
  </span>

  <span>Direitos de imagem para Netflix</span>

  <span>
    Dados buscados da api do
    <a href="https://www.themoviedb.org/">themoviedb.org/</a>
  </span>
</footer>
