.genrs {
  &__title {
  }

  &__list {
    display: flex;
    overflow: hidden;

    &__item {
      width: 150px;
      cursor: pointer;

      img {
        width: inherit;
        transform: scale(0.9);
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
