<header class="header-movie {{ setBackgroundHeader }}">
  <div class="header-movie__logo">
    <a href="/">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Netflix_logo.svg/1920px-Netflix_logo.svg.png"
        alt="Logo da Netflix"
      />
    </a>
  </div>
  <div class="header-movie__avatar">
    <a href="/">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png"
        alt="Avatar do usuário"
      />
    </a>
  </div>
</header>
